/* line 1, ../vaimo_test/scss/_reset.scss */
body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* line 8, ../vaimo_test/scss/_reset.scss */
body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* line 19, ../vaimo_test/scss/_reset.scss */
input,
textarea,
select {
  outline: none;
  box-sizing: border-box;
}

/* line 26, ../vaimo_test/scss/_reset.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 31, ../vaimo_test/scss/_reset.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 43, ../vaimo_test/scss/_reset.scss */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

/* line 1, ../vaimo_test/scss/_header.scss */
.stores {
  background-color: white;
  width: 100%;
  margin-bottom: 24px;
  position: fixed;
  z-index: 1001;
}

/* line 7, ../vaimo_test/scss/_header.scss */
.stores .container {
  position: relative;
}

/* line 10, ../vaimo_test/scss/_header.scss */
.stores__title {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  padding: 4px 0px;
  letter-spacing: 0.9px;
}

/* line 18, ../vaimo_test/scss/_header.scss */
.stores__map {
  position: absolute;
  height: 24px;
  right: 24px;
  top: 0px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  padding: 0 5px;
}

/* line 28, ../vaimo_test/scss/_header.scss */
.stores__map:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

/* line 33, ../vaimo_test/scss/_header.scss */
.stores__icon {
  margin-right: 5px;
  width: 8px;
  height: 12px;
}

/* line 39, ../vaimo_test/scss/_header.scss */
.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.2) 14.31%, rgba(27, 27, 27, 0.1) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
}

/* line 45, ../vaimo_test/scss/_header.scss */
.header__nav-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 48px;
}

/* line 51, ../vaimo_test/scss/_header.scss */
.header__logo {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

/* line 59, ../vaimo_test/scss/_header.scss */
.header__logo:hover {
  cursor: pointer;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}

/* line 64, ../vaimo_test/scss/_header.scss */
.header__search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 45px;
}

/* line 72, ../vaimo_test/scss/_header.scss */
.header-scrolled {
  top: 0;
  background: none;
  background-color: white;
  padding-bottom: 0;
}

/* line 77, ../vaimo_test/scss/_header.scss */
.header-scrolled .stores {
  background-color: #f7f7f7;
}

/* line 80, ../vaimo_test/scss/_header.scss */
.header-scrolled .header__logo {
  color: black;
}

/* line 83, ../vaimo_test/scss/_header.scss */
.header-scrolled .header__search-block {
  background-color: white;
}

/* line 87, ../vaimo_test/scss/_header.scss */
.header-scrolled .search__input {
  background: #f7f7f7;
  border: 1px solid #F2F2F2;
}

/* line 90, ../vaimo_test/scss/_header.scss */
.header-scrolled .search__input::placeholder {
  color: black;
}

/* line 94, ../vaimo_test/scss/_header.scss */
.header-scrolled .search__icon {
  fill: black;
}

/* line 98, ../vaimo_test/scss/_header.scss */
.header-scrolled .menu {
  padding: 24px 0;
}

/* line 100, ../vaimo_test/scss/_header.scss */
.header-scrolled .menu__item {
  color: #000;
}

/* line 105, ../vaimo_test/scss/_header.scss */
.header-scrolled .login__sign-in, .header-scrolled .login__register, .header-scrolled .login__line {
  color: black;
}

/* line 108, ../vaimo_test/scss/_header.scss */
.header-scrolled .login__icon {
  fill: black;
}

/* line 114, ../vaimo_test/scss/_header.scss */
.search-block--active {
  padding-left: 80px;
}

/* line 117, ../vaimo_test/scss/_header.scss */
.search {
  position: relative;
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
  display: flex;
}

/* line 123, ../vaimo_test/scss/_header.scss */
.search__btn, .search__input {
  border: none;
  outline: none;
  border-radius: 3px;
}

/* line 128, ../vaimo_test/scss/_header.scss */
.search__input {
  width: 100%;
  height: 48px;
  background: rgba(255, 255, 255, 0.24);
  padding: 16px 48px 16px 16px;
}

/* line 133, ../vaimo_test/scss/_header.scss */
.search__input::placeholder {
  color: white;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

/* line 140, ../vaimo_test/scss/_header.scss */
.search__btn {
  transform: translateX(-37px) translateY(2px);
  top: 15px;
  right: 10px;
  cursor: pointer;
  background: none;
}

/* line 147, ../vaimo_test/scss/_header.scss */
.search__icon {
  height: 17px;
  width: 17px;
  fill: white;
}

/* line 152, ../vaimo_test/scss/_header.scss */
.search-icon:focus {
  border: none;
  outline: none;
}

/* line 157, ../vaimo_test/scss/_header.scss */
.user {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

/* line 161, ../vaimo_test/scss/_header.scss */
.user__sign-in, .user__register, .user__line, .user__greet {
  font-weight: 500;
  text-align: right;
  font-size: 11px;
  color: white;
  letter-spacing: 1.1px;
}

/* line 167, ../vaimo_test/scss/_header.scss */
.user__sign-in:hover, .user__register:hover, .user__line:hover, .user__greet:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 172, ../vaimo_test/scss/_header.scss */
.user__sign-in {
  margin-right: 7px;
}

/* line 175, ../vaimo_test/scss/_header.scss */
.user__register {
  margin: 0 10px 0 7px;
}

/* line 178, ../vaimo_test/scss/_header.scss */
.user__icon {
  fill: white;
  width: 24px;
  height: 24px;
}

/* line 182, ../vaimo_test/scss/_header.scss */
.user__icon:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* line 187, ../vaimo_test/scss/_header.scss */
.user__greet {
  margin-right: 13px;
}

/* line 190, ../vaimo_test/scss/_header.scss */
.user__buy {
  width: 22px;
  height: 22px;
  background-color: #F2DA91;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-weight: 600;
}

/* line 201, ../vaimo_test/scss/_header.scss */
.user--active {
  background-color: #4a4a4a;
  padding-left: 75px;
}

/* line 206, ../vaimo_test/scss/_header.scss */
.menu {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

/* line 210, ../vaimo_test/scss/_header.scss */
.menu__item {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 16px;
  letter-spacing: 1.1px;
}

/* line 218, ../vaimo_test/scss/_header.scss */
.menu__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 224, ../vaimo_test/scss/_header.scss */
.greeting {
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: 700;
  padding: 345px 0 247px 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position-y: 24px;
}

/* line 237, ../vaimo_test/scss/_header.scss */
.block-menu__toggler {
  width: 20px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 244, ../vaimo_test/scss/_header.scss */
.block-menu__toggler-line {
  width: 20px;
  height: 3px;
  background-color: #ffffff;
}

/* line 249, ../vaimo_test/scss/_header.scss */
.greeting-img {
  display: none;
}

@media screen and (max-width: 1200px) {
  /* line 253, ../vaimo_test/scss/_header.scss */
  .stores {
    display: none;
  }
  /* line 256, ../vaimo_test/scss/_header.scss */
  .greeting {
    background-position-y: 0;
  }
  /* line 260, ../vaimo_test/scss/_header.scss */
  .header__logo {
    font-size: 32px;
  }
  /* line 263, ../vaimo_test/scss/_header.scss */
  .header__nav-block {
    align-items: center;
    padding: 15px 24px;
  }
  /* line 268, ../vaimo_test/scss/_header.scss */
  .header-scrolled .block-menu__toggler-line {
    background-color: black;
  }
  /* line 271, ../vaimo_test/scss/_header.scss */
  .header-scrolled .search-icon__img, .header-scrolled .user__icon {
    fill: black;
  }
  /* line 274, ../vaimo_test/scss/_header.scss */
  .header-scrolled .user--active .user__icon {
    fill: white !important;
  }
  /* line 278, ../vaimo_test/scss/_header.scss */
  .header__search-block {
    width: 100%;
    max-width: 584px;
  }
  /* line 283, ../vaimo_test/scss/_header.scss */
  .menu {
    display: none;
  }
  /* line 286, ../vaimo_test/scss/_header.scss */
  .search {
    width: 100%;
    max-width: 584px;
  }
  /* line 289, ../vaimo_test/scss/_header.scss */
  .search__input {
    height: 40px;
  }
  /* line 293, ../vaimo_test/scss/_header.scss */
  .search-block--active {
    padding-left: 0px;
  }
}

/* line 297, ../vaimo_test/scss/_header.scss */
.mob-btns {
  display: none;
}

/* line 1, ../vaimo_test/scss/_register.scss */
.register {
  background-color: white;
  margin: 0 auto;
  margin: 31px;
}

/* line 5, ../vaimo_test/scss/_register.scss */
.register .container {
  max-width: 440px;
}

/* line 8, ../vaimo_test/scss/_register.scss */
.register__description {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-align: left;
  padding-bottom: 14px;
}

/* line 16, ../vaimo_test/scss/_register.scss */
.register__form {
  display: flex;
}

/* line 19, ../vaimo_test/scss/_register.scss */
.register__input, .register__btn {
  outline: none;
  border-radius: 3px;
  height: 32px;
}

/* line 24, ../vaimo_test/scss/_register.scss */
.register__input {
  width: 100%;
  border: 1px solid #E1E0E1;
  box-sizing: border-box;
  padding: 7px 11px;
  margin-right: 12px;
}

/* line 30, ../vaimo_test/scss/_register.scss */
.register__input::placeholder {
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.9px;
  color: #4A4A4A;
  font-family: "Poppins", sans-serif;
}

/* line 38, ../vaimo_test/scss/_register.scss */
.register__btn {
  border: none;
  width: 121px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.9px;
  text-align: center;
}

/* line 49, ../vaimo_test/scss/_register.scss */
.register__btn:hover {
  cursor: pointer;
  background-color: #333333;
}

/* line 1, ../vaimo_test/scss/_footer.scss */
.footer {
  background-color: #f7f7f7;
}

/* line 4, ../vaimo_test/scss/_footer.scss */
.links {
  display: flex;
  justify-content: center;
  padding: 28px 0 0 25px;
  margin: 0 auto;
}

/* line 9, ../vaimo_test/scss/_footer.scss */
.links__group {
  display: flex;
  flex-direction: column;
  margin: 0 35px;
  max-width: 146px;
}

/* line 15, ../vaimo_test/scss/_footer.scss */
.links__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 11px;
}

/* line 22, ../vaimo_test/scss/_footer.scss */
.links__item {
  font-size: 12px;
  padding: 4px 0;
}

/* line 25, ../vaimo_test/scss/_footer.scss */
.links__item:hover {
  text-decoration: underline;
}

/* line 29, ../vaimo_test/scss/_footer.scss */
.links__icon {
  width: 8px;
  height: 12px;
}

/* line 34, ../vaimo_test/scss/_footer.scss */
.fab {
  padding: 0 10px 0 0;
  font-size: 17px;
}

/* line 37, ../vaimo_test/scss/_footer.scss */
.fab:hover {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}

/* line 41, ../vaimo_test/scss/_footer.scss */
.copyright {
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 32px 0 14px 0;
}

/* line 48, ../vaimo_test/scss/_footer.scss */
.copyright--mob {
  display: none;
}

@media screen and (max-width: 993px) {
  /* line 3, ../vaimo_test/scss/_mobile.scss */
  .header-scrolled .user--active .user__icon {
    fill: black !important;
  }
  /* line 7, ../vaimo_test/scss/_mobile.scss */
  .container {
    padding: 10px 16px;
  }
  /* line 10, ../vaimo_test/scss/_mobile.scss */
  .header__logo {
    font-size: 27px;
  }
  /* line 13, ../vaimo_test/scss/_mobile.scss */
  .search, .user__greet {
    display: none;
  }
  /* line 16, ../vaimo_test/scss/_mobile.scss */
  .mob-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  /* line 21, ../vaimo_test/scss/_mobile.scss */
  .greeting {
    background-position: center;
    font-size: 3em;
  }
  /* line 25, ../vaimo_test/scss/_mobile.scss */
  .user--active {
    background-color: transparent;
    padding-left: 10px;
  }
  /* line 29, ../vaimo_test/scss/_mobile.scss */
  .search-icon {
    background-color: transparent;
    border: none;
    margin-left: 10px;
  }
  /* line 33, ../vaimo_test/scss/_mobile.scss */
  .search-icon__img {
    width: 19px;
    height: 19px;
    fill: #FFFFFF;
  }
  /* line 39, ../vaimo_test/scss/_mobile.scss */
  .header__search-block {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 45px;
    padding-left: 0px;
    max-width: none;
  }
  /* line 48, ../vaimo_test/scss/_mobile.scss */
  .search {
    display: flex;
    padding: 11px 0px 16px 16px;
    max-width: 100%;
  }
  /* line 52, ../vaimo_test/scss/_mobile.scss */
  .search__input {
    padding: 16px 48px 16px 10px;
  }
}

@media screen and (max-width: 993px) {
  /* line 60, ../vaimo_test/scss/_mobile.scss */
  .register {
    margin: 14px auto;
  }
  /* line 62, ../vaimo_test/scss/_mobile.scss */
  .register__btn {
    width: 140px;
  }
}

@media screen and (max-width: 993px) {
  /* line 69, ../vaimo_test/scss/_mobile.scss */
  .footer .container {
    padding-top: 0;
  }
  /* line 72, ../vaimo_test/scss/_mobile.scss */
  .links {
    flex-direction: column;
    padding: 0;
  }
  /* line 75, ../vaimo_test/scss/_mobile.scss */
  .links__title {
    height: 45px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 82, ../vaimo_test/scss/_mobile.scss */
  .links__group {
    margin: 0;
    min-width: 100%;
    border-bottom: 1px solid #e1e0e1;
  }
  /* line 86, ../vaimo_test/scss/_mobile.scss */
  .links__group--social {
    border: none;
  }
  /* line 88, ../vaimo_test/scss/_mobile.scss */
  .links__group--social .links__title {
    display: none;
  }
  /* line 91, ../vaimo_test/scss/_mobile.scss */
  .links__group--social .links__icons {
    justify-content: center;
    padding: 23px 14px 14px 14px;
  }
  /* line 94, ../vaimo_test/scss/_mobile.scss */
  .links__group--social .links__icons .fab {
    padding: 0 11px;
    font-size: 22px;
    font-weight: 500;
  }
  /* line 102, ../vaimo_test/scss/_mobile.scss */
  .links__icons {
    display: flex !important;
  }
  /* line 105, ../vaimo_test/scss/_mobile.scss */
  .links__item {
    display: none;
    padding: 5px 16px;
  }
  /* line 110, ../vaimo_test/scss/_mobile.scss */
  .links__icon {
    width: 7px;
    height: 12px;
  }
  /* line 114, ../vaimo_test/scss/_mobile.scss */
  .links__group--active {
    padding-bottom: 10px;
  }
  /* line 116, ../vaimo_test/scss/_mobile.scss */
  .links__group--active .links__item {
    display: block;
  }
  /* line 119, ../vaimo_test/scss/_mobile.scss */
  .links__group--active .links__icon {
    transform: rotate(90deg);
  }
  /* line 124, ../vaimo_test/scss/_mobile.scss */
  .copyright {
    display: none;
  }
  /* line 126, ../vaimo_test/scss/_mobile.scss */
  .copyright--mob {
    display: block;
    font-size: 9px;
    text-align: center;
    letter-spacing: 0.4px;
    padding: 0px 0 14px 0;
  }
}

/* line 135, ../vaimo_test/scss/_mobile.scss */
.menu--mob {
  display: none;
}

@media screen and (max-width: 993px) {
  /* line 140, ../vaimo_test/scss/_mobile.scss */
  .logo-mob {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 0.9px;
    margin: 0 auto;
    padding: 16px 0 14px 0;
    text-align: center;
  }
  /* line 149, ../vaimo_test/scss/_mobile.scss */
  .menu--mob {
    background-color: rgba(0, 0, 0, 0.32);
    display: none;
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  /* line 159, ../vaimo_test/scss/_mobile.scss */
  .menu--mob__wrap {
    background-color: white;
    width: 320px;
    height: 100%;
  }
  /* line 163, ../vaimo_test/scss/_mobile.scss */
  .menu--mob__wrap ul, .menu--mob__wrap li {
    color: black;
  }
  /* line 167, ../vaimo_test/scss/_mobile.scss */
  .menu__item--mob > li, ul {
    display: none;
  }
  /* line 170, ../vaimo_test/scss/_mobile.scss */
  .menu__item--mob {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }
  /* line 181, ../vaimo_test/scss/_mobile.scss */
  .menu__item--mob::after {
    content: '';
    width: 8px;
    height: 12px;
    background-image: url(../img/arrow.png);
  }
  /* line 188, ../vaimo_test/scss/_mobile.scss */
  .user--mob {
    display: flex;
    background-color: #f7f7f7;
    top: 484px;
    position: absolute;
    padding: 14px 0;
    width: 320px;
  }
  /* line 195, ../vaimo_test/scss/_mobile.scss */
  .user--mob :first-child {
    padding-left: 14px;
  }
  /* line 198, ../vaimo_test/scss/_mobile.scss */
  .user--mob > * {
    color: black;
  }
  /* line 202, ../vaimo_test/scss/_mobile.scss */
  .mob-cross {
    position: absolute;
    fill: black;
    padding: 24px 16px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 480px) {
  /* line 211, ../vaimo_test/scss/_mobile.scss */
  .greeting {
    display: block;
    font-size: 0.1em;
    padding: 276px 0;
    color: transparent;
    background-size: cover;
    background-position-x: 65%;
    background-clip: padding-box;
    margin-bottom: -88px;
  }
  /* line 221, ../vaimo_test/scss/_mobile.scss */
  .register {
    padding: 14px 0 2px 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 2, ../vaimo_test/scss/_ie.scss */
  .header {
    top: 0;
    background: none;
    background-color: white;
    padding-bottom: 0;
  }
  /* line 7, ../vaimo_test/scss/_ie.scss */
  .header .stores {
    background-color: #f7f7f7;
  }
  /* line 9, ../vaimo_test/scss/_ie.scss */
  .header .stores__map--ie {
    width: 8px;
    height: 12px;
    margin-right: 5px;
    background-image: url(../img/geo.png);
  }
  /* line 15, ../vaimo_test/scss/_ie.scss */
  .header .stores__icon {
    display: none;
  }
  /* line 19, ../vaimo_test/scss/_ie.scss */
  .header .header__logo {
    color: black;
  }
  /* line 22, ../vaimo_test/scss/_ie.scss */
  .header .header__search-block {
    background-color: white;
  }
  /* line 26, ../vaimo_test/scss/_ie.scss */
  .header .search__input {
    background: #f7f7f7;
    border: 1px solid #F2F2F2;
  }
  /* line 29, ../vaimo_test/scss/_ie.scss */
  .header .search__input::placeholder {
    color: black;
  }
  /* line 33, ../vaimo_test/scss/_ie.scss */
  .header .search-icon--ie {
    transform: translateY(6px);
    height: 16px;
    width: 16px;
    background-image: url(../img/search.png);
  }
  /* line 40, ../vaimo_test/scss/_ie.scss */
  .header .menu {
    padding: 24px 0;
  }
  /* line 42, ../vaimo_test/scss/_ie.scss */
  .header .menu__item {
    color: #000;
  }
  /* line 47, ../vaimo_test/scss/_ie.scss */
  .header .login__sign-in, .header .login__register, .header .login__line {
    color: black;
  }
  /* line 50, ../vaimo_test/scss/_ie.scss */
  .header .login__icon {
    fill: black;
  }
  /* line 54, ../vaimo_test/scss/_ie.scss */
  .header .user__icon {
    display: none;
  }
  /* line 57, ../vaimo_test/scss/_ie.scss */
  .header .user__icon--ie {
    width: 17px;
    height: 24px;
    margin-right: 5px;
    background-image: url(../img/basket.png);
  }
  /* line 63, ../vaimo_test/scss/_ie.scss */
  .header .user--active {
    background: none;
  }
  /* line 66, ../vaimo_test/scss/_ie.scss */
  .header .user__greet {
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */