@media screen and (max-width: 993px){
    .header-scrolled{
        .user--active .user__icon{
            fill: black !important;
        }
    }
    .container{
        padding: 10px 16px;
    }
    .header__logo{
        font-size: 27px;
    }
    .search, .user__greet{
        display: none;
    }
    .mob-btns{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .greeting{
        background-position: center;
        font-size: 3em;
    }
    .user--active{
        background-color: transparent;
        padding-left: 10px;
    }
    .search-icon{
        background-color: transparent;
        border: none;
        margin-left: 10px;
        &__img{
            width: 19px;
            height: 19px;
            fill: #FFFFFF;
        }
    }
    .header__search-block{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 45px;
        padding-left: 0px;
        max-width: none;
    }
    .search{
        display: flex;
        padding: 11px 0px 16px 16px ;
        max-width: 100%;
        &__input{
            padding: 16px 48px 16px 10px;
        }
    }
    
}

@media screen and (max-width: 993px){
    .register{
        margin: 14px auto;
        &__btn{
            width: 140px;
        }
    }
}

@media screen and (max-width: 993px){
    .footer .container{
        padding-top: 0;
    }
    .links{
        flex-direction: column;
        padding: 0;
        &__title{
            height: 45px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__group{
            margin: 0;
            min-width: 100%;
            border-bottom: 1px solid rgb(225, 224, 225);
            &--social{
                border: none;
                .links__title{
                    display: none;
                }
                .links__icons{
                    justify-content: center;
                    padding: 23px 14px 14px 14px;
                    .fab{
                        padding: 0 11px;
                        font-size: 22px;
                        font-weight: 500;
                    }
                }
            }
        }
        &__icons{
            display: flex !important;
        }
        &__item{
            display: none;
            padding: 5px 16px;
            
        }
        &__icon{
            width: 7px;
            height: 12px;
        }
        &__group--active{
            padding-bottom: 10px;
            .links__item{
                display: block;
            }
            .links__icon{
                transform: rotate(90deg);
            }
        }
    }
    .copyright{
        display: none;
        &--mob{
            display: block;
            font-size: 9px;
            text-align: center;
            letter-spacing: 0.4px;
            padding:0px 0 14px 0;
        }
    }
}
.menu--mob{
    display: none;
}

@media screen and (max-width: 993px){
    .logo-mob{
        font-size: 25px;
        font-family: $poppins;
        font-weight: 700;
        letter-spacing: $letter-space;
        margin: 0 auto;
        padding: 16px 0 14px 0;
        text-align: center;
    }
    .menu--mob{
        background-color: rgba(0, 0, 0, 0.32);
        display: none;
        position: absolute;
        left: 0px;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
    }
    .menu--mob__wrap{
        background-color: white;
        width: 320px;
        height: 100%;
        ul, li{
            color: black;
        }
    }
    .menu__item--mob >li{
        display: none;
    }
    .menu__item--mob{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid $color-grey;
    display: flex;
    align-items: center;
    margin: 0 auto  ;
    justify-content: space-between;
    &::after{
        content: '';
        width: 8px;
        height: 12px;
            background-image: url(../img/arrow.png);
    }
    }
    .user--mob{
    display: flex;
    background-color: $color-grey;
    top: 484px;
    position: absolute;
    padding: 14px 0;
    width: 320px;
    & :first-child{
        padding-left: 14px;
    }
    &>*{
        color: black;
    }
}
    .mob-cross{
        position: absolute;
        fill: black;
        padding: $space 16px;
        width: 16px;
        height: 16px;
    }
}
@media screen and (max-width: 480px){
    .greeting{
        display: block;
        font-size: 0.1em;
        padding: 276px 0;
        color: transparent;
        background-size: cover;
        background-position-x: 65%;
        background-clip: padding-box;
        margin-bottom: -88px ;
    }
    .register{
        padding: 14px 0 2px 0;
    }
}