$poppins:'Poppins', sans-serif;
$garamond: 'Cormorant Garamond', serif;

$color-grey: rgb(247, 247, 247);
$color-yellow: #F2DA91;
$color-darkgrey: rgba(74, 74, 74, 1);

$space: 24px;
$letter-space: 0.9px